<div class="map-card">

  <!-- 🔘 Buttons -->
  <div class="buttons">
    <button (click)="myLocation()">📍 موقعي الحالي</button>

    <button (click)="enableSelectMode()">
      🖱️ اختر من الخريطة
    </button>
  </div>

  <!-- 🔍 Search -->
 
  <!-- 🗺️ MAP -->
  <div id="map"></div>

  <!-- 📍 INFO -->
  <div class="info">

    <div class="box">
      <strong>اسم المكان</strong>
      <p>{{ placeName || "لم يتم التحديد" }}</p>
    </div>

    <div class="box">
      <strong>العنوان الكامل</strong>
      <p>{{ fullAddress || "لم يتم التحديد" }}</p>
    </div>

  </div>
 <div class="search-box">
    <input
      [(ngModel)]="searchText"
      type="text"
      placeholder="ابحث عن مكان (عربي أو إنجليزي) داخل الأردن 🇯🇴"
    />

    <button (click)="searchLocation()">بحث 🔍</button>
  </div>

</div>