
:host {
    min-height: 100vh;
    font-family: "Cairo", sans-serif;
}

* {
    box-sizing: border-box;
}


.main-area {
    padding-top: 0px;
    padding-bottom: 26px;
}

[dir="rtl"] {
  text-align: right;
  direction: rtl;
}

[dir="ltr"] {
  text-align: left;
  direction: ltr;
}
