 <header class="topbar">
    <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between">
        <a class="brand d-flex align-items-center gap-2">
          <img src="../../../../assets/img/logo.png" alt="مختبرات الحكمة" />
          <div class="brand-text">
            <h1>مختبرات الحكمة</h1>
            <p>AL HIKMAH LABORATORIES</p>
          </div>
        </a>
        <div class="top-actions d-flex align-items-center gap-2">
          <button type="button" class="btn btn-light-soft">
            <i class="bi bi-headset"></i>
            <span>مساعدة</span>
          </button>

          <button type="button" class="btn btn-light-soft">
            <i class="bi bi-globe2"></i>
            <span>AR</span>
            <i class="bi bi-chevron-down arrow-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </header>