 <header class="topbar">
    <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between">
        <a class="brand d-flex align-items-center gap-2">
          <img src="../../../../assets/img/logo.png" alt="مختبرات الحكمة" />
          <div class="brand-text">
            <h1>مختبرات الحكمة</h1>
            <p>AL HIKMAH LABORATORIES</p>
          </div>
        </a>
        <div class="top-actions d-flex align-items-center gap-2">
          <button type="button" class="btn btn-light-soft">
            <i class="bi bi-headset"></i>
            <span>{{ 'HEADER.HELP' | translate }}</span>
          </button>

          <button
            type="button"
            class="btn btn-light-soft lang-btn"
            [class.active]="currentLang === 'ar'"
            (click)="changeLang('ar')"
          >
            <i class="bi bi-globe2"></i>
            <span>AR</span>
          </button>

          <button
            type="button"
            class="btn btn-light-soft lang-btn"
            [class.active]="currentLang === 'en'"
            (click)="changeLang('en')"
          >
            <i class="bi bi-globe2"></i>
            <span>EN</span>
          </button>
        </div>
      </div>
    </div>
  </header>

