<p-dialog
  header="تعديل الملف الشخصي"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [style]="{ width: '420px' }"
  styleClass="custom-dialog"
>
  <p class="subtitle">قم بتحديث بياناتك الشخصية</p>

  <div class="form-container" [formGroup]="formGroup" >
    <ng-container>
      <div class="field" *ngFor="let input of listOfInputs">
        <label>{{ input.label }}</label>
        <ng-container [ngSwitch]="input.inputType">
          <input
            *ngSwitchCase="'text'"
            [type]="'text'"
            [formControlName]="input.formControlName"
            [placeholder]="input.placeHolder"
          />
          <input
            *ngSwitchCase="'number'"
            [type]="'number'"
            [formControlName]="input.formControlName"
            [placeholder]="input.placeHolder"
          />
        </ng-container>
      </div>
    </ng-container>
  </div>

  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <button
        pButton
        label="إلغاء"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="visible = false"
      ></button>

      <button
        pButton
        label="حفظ"
        icon="pi pi-check"
        class="p-button-success"
        (click)="saveProfile()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
