   <aside class="sidebar   ">
      <nav class="sidebar-nav">
        <a
          *ngFor="let item of menuItems"
          href="javascript:void(0)"
          class="nav-item"
          [class.active]="item.active"
        >
          <i class="bi" [ngClass]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </nav>

      <div class="sidebar-card help-card">
        <div class="card-icon"><i class="bi bi-chat-square-dots"></i></div>
        <div>
          <h4>تحتاج مساعدة؟</h4>
          <p>فريق الدعم جاهز لخدمتك</p>
          <button>تواصل معنا <i class="bi bi-arrow-left"></i></button>
        </div>
      </div>

      <div class="sidebar-card trust-card">
        <div class="card-icon"><i class="bi bi-shield-check"></i></div>
        <div>
          <h4>موثوق ومعتمد</h4>
          <p>جميع نتائج التحاليل معتمدة وفقاً للمعايير العالمية</p>
        </div>
      </div>
    </aside>

    